In [4]:
#importing and cleaning data leaving what i need
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
anime = pd.read_csv('data/anime-dataset-2023.csv')

In [39]:

def clean_data(anime):
    # Drop columns
    anime = anime.drop(columns=['Members', 'Scored By', 'Favorites', 'Source', 'Licensors', 'Producers', 'Premiered', 'English name','Studios', 'Duration', 'Rating', 'Status', 'Other name'])
    # Rename column 'Synopsis' to 'Description'
    anime = anime.rename(columns={'Synopsis': 'Description'})
    # Drop columns: 'Aired', 'Rank'
    anime = anime.drop(columns=['Aired'])
    return anime

anime_clean = clean_data(anime.copy())
anime_clean.head()

,anime_id,Name,Score,Genres,Description,Type,Episodes,Rank,Popularity,Image URL
0,1,Cowboy Bebop,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,41.0,43,https://cdn.myanimelist.net/images/anime/4/196...
1,5,Cowboy Bebop: Tengoku no Tobira,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1.0,189.0,602,https://cdn.myanimelist.net/images/anime/1439/...
2,6,Trigun,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26.0,328.0,246,https://cdn.myanimelist.net/images/anime/7/203...
3,7,Witch Hunter Robin,7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26.0,2764.0,1795,https://cdn.myanimelist.net/images/anime/10/19...
4,8,Bouken Ou Beet,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52.0,4240.0,5126,https://cdn.myanimelist.net/images/anime/7/215...

In [ ]:
#making columns smaller by concatenating them together to make it easier for model to predict
def clean_data(anime_clean):
    # Replace all instances of "UNKNOWN" with "1000+" in column: 'Episodes'
    anime_clean['Episodes'] = anime_clean['Episodes'].str.replace("UNKNOWN", "1000+", case=False, regex=False)
    # Change column type to string for columns: 'Episodes', 'Popularity'
    anime_clean = anime_clean.astype({'Episodes': 'string', 'Popularity': 'string', 'Score': 'string', 'Rank': 'string'})
    anime_clean['tags'] = anime_clean['Description'] + anime_clean['Genres'] + anime_clean['Type'] + anime_clean['Episodes'] + anime_clean['Popularity'] + anime_clean['Score'] + anime_clean['Rank'] 
    new_df = anime_clean[['anime_id','Name','tags']]
    
    new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
    return new_df

anime_clean = clean_data(anime_clean.copy())
anime_clean.head(2)

In [46]:
anime_clean.head(2)

,anime_id,Name,tags
0,1,Cowboy Bebop,"crime is timeless. by the year 2071, humanity ..."
1,5,Cowboy Bebop: Tengoku no Tobira,"another day, another bounty—such is the life o..."

In [47]:
anime_clean.shape

(24905, 3)

In [54]:
#making the ml scikitlearn model 
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words= 'english')

vector = cv.fit_transform(anime_clean['tags']).toarray()

vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]])

In [55]:
vector.shape

(24905, 5000)